In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.DataFrame(np.random.rand(5,5),index='A B C D E'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.905534  0.804408  0.831453  0.979162  0.748186
B  0.253884  0.856125  0.608917  0.150735  0.478219
C  0.163263  0.540027  0.766320  0.340726  0.345085
D  0.815486  0.695076  0.072012  0.487962  0.645485
E  0.057877  0.984346  0.073158  0.803515  0.327846

In [3]:
df1=pd.DataFrame(np.random.rand(10,8),index='A B C D E F G H I J'.split(),columns='subject1  subject2  subject3  subject4  subject5 subject6 subject7 subject8'.split())

In [4]:
df1

,subject1,subject2,subject3,subject4,subject5,subject6,subject7,subject8
A,0.276147,0.393215,0.774100,0.746689,0.931060,0.606230,0.796907,0.477950
B,0.314693,0.687129,0.283097,0.234907,0.457633,0.866960,0.733765,0.179076
C,0.682250,0.279905,0.002174,0.100032,0.161657,0.885232,0.629369,0.645812
D,0.633087,0.708484,0.449396,0.699883,0.575012,0.024211,0.448444,0.740912
E,0.455346,0.530382,0.658967,0.200813,0.013251,0.835302,0.310854,0.852549
F,0.963554,0.508914,0.350948,0.385778,0.754005,0.713953,0.113565,0.483694
G,0.171183,0.716358,0.857382,0.372340,0.793505,0.071406,0.678212,0.527172
H,0.668720,0.681333,0.522613,0.646030,0.768434,0.616514,0.957896,0.660954
I,0.227654,0.133222,0.905142,0.104336,0.098295,0.779057,0.504158,0.878107
J,0.481425,0.550104,0.509878,0.406991,0.785936,0.458027,0.097630,0.813766

In [5]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv("Eye.csv")

In [7]:
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,1
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,1
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,1
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,1
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,2
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,2
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,2
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,2
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,2

In [8]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,1
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,1
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,1
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,1
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,1

In [9]:
df.head(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,1
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,1
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,1
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,1
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,1
5,4321.03,4004.62,4284.10,4153.33,4345.64,4587.18,4093.33,4616.92,4202.56,4232.82,4209.74,4281.03,4628.21,4389.74,1
6,4319.49,4001.03,4280.51,4151.79,4343.59,4584.62,4089.74,4615.90,4212.31,4226.67,4201.03,4269.74,4625.13,4378.46,1
7,4325.64,4006.67,4278.46,4143.08,4344.10,4583.08,4087.18,4614.87,4205.64,4230.26,4195.90,4266.67,4622.05,4380.51,1
8,4326.15,4010.77,4276.41,4139.49,4345.13,4584.10,4091.28,4608.21,4187.69,4229.74,4202.05,4273.85,4627.18,4389.74,1
9,4326.15,4011.28,4276.92,4142.05,4344.10,4582.56,4092.82,4608.72,4194.36,4228.72,4212.82,4277.95,4637.44,4393.33,1

In [10]:
df.tail()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,2
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,2
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,2
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,2
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,2

In [11]:
df.tail(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
14970,4289.23,4003.08,4263.59,4124.62,4338.46,4621.03,4084.10,4625.13,4200.51,4226.67,4180.00,4279.49,4609.23,4354.36,2
14971,4288.72,3999.49,4254.36,4120.51,4336.92,4618.97,4082.56,4630.26,4207.18,4226.15,4177.95,4281.03,4605.13,4351.79,2
14972,4288.21,3995.90,4248.21,4120.00,4334.36,4615.90,4084.62,4641.03,4214.36,4228.72,4178.46,4273.85,4600.00,4343.08,2
14973,4282.56,3991.79,4250.26,4115.90,4332.31,4612.82,4077.44,4639.49,4210.77,4225.64,4175.38,4267.69,4595.90,4340.00,2
14974,4280.51,3988.72,4249.23,4116.92,4332.31,4612.82,4072.31,4632.31,4207.69,4220.00,4173.85,4271.28,4595.38,4343.08,2
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,2
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,2
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,2
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,2
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,2

In [12]:
df1=df.sample

In [13]:
df1

<bound method NDFrame.sample of             V1       V2       V3       V4       V5       V6       V7       V8  \
0      4329.23  4009.23  4289.23  4148.21  4350.26  4586.15  4096.92  4641.03
1      4324.62  4004.62  4293.85  4148.72  4342.05  4586.67  4097.44  4638.97
2      4327.69  4006.67  4295.38  4156.41  4336.92  4583.59  4096.92  4630.26
3      4328.72  4011.79  4296.41  4155.90  4343.59  4582.56  4097.44  4630.77
4      4326.15  4011.79  4292.31  4151.28  4347.69  4586.67  4095.90  4627.69
...        ...      ...      ...      ...      ...      ...      ...      ...
14975  4281.03  3990.26  4245.64  4116.92  4333.85  4614.36  4074.87  4625.64
14976  4276.92  3991.79  4245.13  4110.77  4332.82  4615.38  4073.33  4621.54
14977  4277.44  3990.77  4246.67  4113.85  4333.33  4615.38  4072.82  4623.59
14978  4284.62  3991.79  4251.28  4122.05  4334.36  4616.41  4080.51  4628.72
14979  4287.69  3997.44  4260.00  4121.03  4333.33  4616.41  4088.72  4638.46

            V9      V10      V11      V12      V13      V14  Class
0      4222.05  4238.46  4211.28  4280.51  4635.90  4393.85      1
1      4210.77  4226.67  4207.69  4279.49  4632.82  4384.10      1
2      4207.69  4222.05  4206.67  4282.05  4628.72  4389.23      1
3      4217.44  4235.38  4210.77  4287.69  4632.31  4396.41      1
4      4210.77  4244.10  4212.82  4288.21  4632.82  4398.46      1
...        ...      ...      ...      ...      ...      ...    ...
14975  4203.08  4221.54  4171.28  4269.23  4593.33  4340.51      2
14976  4194.36  4217.44  4162.56  4259.49  4590.26  4333.33      2
14977  4193.33  4212.82  4160.51  4257.95  4591.79  4339.49      2
14978  4200.00  4220.00  4165.64  4267.18  4596.41  4350.77      2
14979  4212.31  4226.67  4167.69  4274.36  4597.95  4350.77      2

[14980 rows x 15 columns]>

In [14]:
df.shape

(14980, 15)

In [15]:
df.dtypes

V1       float64
V2       float64
V3       float64
V4       float64
V5       float64
V6       float64
V7       float64
V8       float64
V9       float64
V10      float64
V11      float64
V12      float64
V13      float64
V14      float64
Class      int64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      14980 non-null  float64
 1   V2      14980 non-null  float64
 2   V3      14980 non-null  float64
 3   V4      14980 non-null  float64
 4   V5      14980 non-null  float64
 5   V6      14980 non-null  float64
 6   V7      14980 non-null  float64
 7   V8      14980 non-null  float64
 8   V9      14980 non-null  float64
 9   V10     14980 non-null  float64
 10  V11     14980 non-null  float64
 11  V12     14980 non-null  float64
 12  V13     14980 non-null  float64
 13  V14     14980 non-null  float64
 14  Class   14980 non-null  int64
dtypes: float64(14), int64(1)
memory usage: 1.7 MB

In [17]:
df.isnull().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
V11      0
V12      0
V13      0
V14      0
Class    0
dtype: int64

In [18]:
df.describe(include="all")

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
count,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000
mean,4321.917777,4009.767694,4264.022433,4164.946326,4341.741075,4644.022379,4110.400160,4616.056904,4218.826610,4231.316200,4202.456900,4279.232774,4615.205336,4416.435832,1.448798
std,2492.072174,45.941672,44.428052,5216.404632,34.738821,2924.789537,4600.926543,29.292603,2136.408523,38.050903,37.785981,41.544312,1208.369958,5891.285043,0.497388
min,1030.770000,2830.770000,1040.000000,2453.330000,2089.740000,2768.210000,2086.150000,4567.180000,1357.950000,1816.410000,3273.330000,2257.950000,86.666700,1366.150000,1.000000
25%,4280.510000,3990.770000,4250.260000,4108.210000,4331.790000,4611.790000,4057.950000,4604.620000,4190.770000,4220.510000,4190.260000,4267.690000,4590.770000,4342.050000,1.000000
50%,4294.360000,4005.640000,4262.560000,4120.510000,4338.970000,4617.950000,4070.260000,4613.330000,4199.490000,4229.230000,4200.510000,4276.920000,4603.080000,4354.870000,1.000000
75%,4311.790000,4023.080000,4270.770000,4132.310000,4347.180000,4626.670000,4083.590000,4624.100000,4209.230000,4239.490000,4211.280000,4287.180000,4617.440000,4372.820000,2.000000
max,309231.000000,7804.620000,6880.510000,642564.000000,6474.360000,362564.000000,567179.000000,7264.100000,265641.000000,6674.360000,6823.080000,7002.560000,152308.000000,715897.000000,2.000000